<VirtualHost {% $LISTEN_ON %}>

__AV_LISTEN_ON = [% $LISTEN_ON %]
__AV_LISTEN_ON_SSL = [% $LISTEN_ON_SSL %]
__AV_NGINX_LISTEN_ON = [% $NGINX_LISTEN_ON %]
__AV_LISTEN_FLAGS = [% $LISTEN_FLAGS %]
__AV_NGINX_SSL_LISTEN_ON = [% $NGINX_SSL_LISTEN_ON %]
__AV_LISTEN_SSL_FLAGS = {% $LISTEN_SSL_FLAGS %}

__AV_NAME = {% $NAME %}
__AV_ALIASES = [% $ALIASES %]
__AV_HOME = [% $HOME %]
__AV_OWNER = [% $OWNER %]
__AV_OWNER_GROUP = [% $OWNER_GROUP %]
__AV_UID = [% $UID %]
__AV_GID = [% $GID %]
__AV_NGINX_FOREGROUND = [% $NGINX_FOREGROUND %]
__AV_DOCROOT = [% $DOCROOT %]
__AV_PRESET = [% $PRESET %]
__AV_IPADDRS = [% $IPADDRS %]
__AV_EMAIL = [% $EMAIL %]
__AV_CHARSET = [% $CHARSET %]
__AV_DIRINDEX = [% $DIRINDEX %]
__AV_SSL = [% $SSL %]
__AV_REDIRECT_HTTP = [% $REDIRECT_HTTP %]
__AV_SSL_PORT = [% $SSL_PORT %]
__AV_SSL_CRT = [% $SSL_CRT %]
__AV_SSL_KEY = [% $SSL_KEY %]
__AV_HSTS = [% $HSTS %]
__AV_SSL_SECURE_PROTOCOLS = [% $SSL_SECURE_PROTOCOLS %]
__AV_SSL_SECURE_CHIPHERS = [% $SSL_SECURE_CHIPHERS %]
__AV_SSL_DHPARAM = [% $SSL_DHPARAM %]
__AV_SSI = [% $SSI %]
__AV_FOREGROUND = [% $FOREGROUND %]
__AV_LOG_ACCESS = [% $LOG_ACCESS %]
__AV_ACCESS_LOG_PATH = [% $ACCESS_LOG_PATH %]
__AV_LOG_ERROR = [% $LOG_ERROR %]
__AV_ERROR_LOG_PATH = [% $ERROR_LOG_PATH %]
__AV_ROTATION_PERIOD = [% $ROTATION_PERIOD %]
__AV_ROTATION_COUNT = [% $ROTATION_COUNT %]
__AV_ANALYZER = [% $ANALYZER %]
__AV_ANALYZER_PERIOD = [% $ANALYZER_PERIOD %]
__AV_ANALYZER_LANG = [% $ANALYZER_LANG %]
__AV_ANALYZER_SECURE = [% $ANALYZER_SECURE %]
__AV_ANALYZER_PASSWD = [% $ANALYZER_PASSWD %]
__AV_AUTOSUBDOMAIN = [% $AUTOSUBDOMAIN %]
__AV_PHP = [% $PHP %]
__AV_PHP_MODE = [% $PHP_MODE %]
__AV_PHP_NATIVE_VERSION = [% $PHP_NATIVE_VERSION %]

__AV_APACHEITK = [% $APACHEITK %]
__AV_CGI = [% $CGI %]
__AV_CGI_EXT = [% $CGI_EXT %]
__AV_CGI_EXT_PATH = [% $CGI_EXT_PATH %]
__AV_SSL_BUNDLE = [% $SSL_BUNDLE %]

__AV_NO_TRAFF_COUNT = [% $NO_TRAFF_COUNT %]
__AV_AUTOSUBDOMAIN_SUBDOMAIN_PART = [% $AUTOSUBDOMAIN_SUBDOMAIN_PART %]
__AV_NGINX_VHOST_INCLUDES = [% $NGINX_VHOST_INCLUDES %]
__AV_INCLUDE_RESOURCE_PATH = [% $INCLUDE_RESOURCE_PATH %]
__AV_SRV_GZIP = [% $SRV_GZIP %]
__AV_GZIP_LEVEL = [% $GZIP_LEVEL %]
__AV_SRV_CACHE = [% $SRV_CACHE %]
__AV_EXPIRES_VALUE = [% $EXPIRES_VALUE %]
__AV_WEBSTAT_LOCATION = [% $WEBSTAT_LOCATION %]
__AV_WEBSTAT_ENCODING = [% $WEBSTAT_ENCODING %]
__AV_REDIRECT_TO_APACHE = [% $REDIRECT_TO_APACHE %]
__AV_BACKEND_BIND_URI = [% $BACKEND_BIND_URI %]
__AV_REDIRECT_TO_PHPFPM = [% $REDIRECT_TO_PHPFPM %]
__AV_PHPFPM_USER_SOCKET_PATH = [% $PHPFPM_USER_SOCKET_PATH %]
__AV_DDOSSHIELD = [% $DDOSSHIELD %]
__AV_NGINX_LIMITREQUEST = [% $NGINX_LIMITREQUEST %]
__AV_NGINX_BURSTREQUEST = [% $NGINX_BURSTREQUEST %]
__AV_SSL_CRT_BUNDLE_PATH = [% $SSL_CRT_BUNDLE_PATH %]
__AV_SSL_KEY_PATH = [% $SSL_KEY_PATH %]
__AV_PAGESPEED = [% $PAGESPEED %]
__AV_NGINX_MODULE_PAGESPEED_PATH = [% $NGINX_MODULE_PAGESPEED_PATH %]
__AV_PHPCOMPOSER = [% $PHPCOMPOSER %]
__AV_NGINX_MODULE_PHPCOMPOSER_PATH = [% $NGINX_MODULE_PHPCOMPOSER_PATH %]
__AV_APACHE_MODULE_PHPCOMPOSER_PATH = [% $APACHE_MODULE_PHPCOMPOSER_PATH %]
__AV_PYTHON = [% $PYTHON %]
__AV_APACHE_MODULE_PYTHON_PATH = [% $APACHE_MODULE_PYTHON_PATH %]
__AV_INCLUDE = [% $INCLUDE %]
__AV_USE_RESOURCES = [% $USE_RESOURCES %]
__AV_INCLUDE_PHP = [% $INCLUDE_PHP %]
__AV_FILES_MATCH = [% $FILES_MATCH %]
__AV_PHP_HANDLER = [% $PHP_HANDLER %]
__AV_APACHE_FCGID = [% $APACHE_FCGID %]
__AV_PHP_BIN_WRAPPER = [% $PHP_BIN_WRAPPER %]
__AV_ISP_CUT = [% $ISP_CUT %]
__AV_USER_PHP_CONF = [% $USER_PHP_CONF %]
__AV_SITE_PHP_CONF = [% $SITE_PHP_CONF %]
__AV_MOD_TMP_PATH = [% $MOD_TMP_PATH %]
__AV_BASEDIR_PATH = [% $BASEDIR_PATH %]
__AV_PHP_BIN_DIR = [% $PHP_BIN_DIR %]
__AV_PYTHON_MODE = [% $PYTHON_MODE %]
__AV_PYTHON_BIN_DIR = [% $PYTHON_BIN_DIR %]
__AV_NGINX_FRONTEND = [% $NGINX_FRONTEND %]

__AV_REDIRECT_WWW = [% $REDIRECT_WWW %]
__AV_VIRTUAL_DOCROOT = [% $VIRTUAL_DOCROOT %]
__AV_VIRTUAL_DOCROOT_PATH = [% $VIRTUAL_DOCROOT_PATH %]
__AV_USER_RESOURCES = [% $USER_RESOURCES %]
__AV_USER_NGINX_RESOURCES_PATH = [% $USER_NGINX_RESOURCES_PATH %]
__AV_SEMANTIC_URL = [% $SEMANTIC_URL %]
__AV_NGINX_STATIC = [% $NGINX_STATIC %]
__AV_INCLUDE_DYNAMIC_RESOURCE_PATH = [% $INCLUDE_DYNAMIC_RESOURCE_PATH %]

</VirtualHost>
