server {

__NV_LISTEN_ON = [% $LISTEN_ON %]
__NV_LISTEN_ON_SSL = [% $LISTEN_ON_SSL %]
__NV_NGINX_LISTEN_ON = [% $NGINX_LISTEN_ON %]
__NV_LISTEN_FLAGS = [% $LISTEN_FLAGS %]
__NV_NGINX_SSL_LISTEN_ON = [% $NGINX_SSL_LISTEN_ON %]
__NV_LISTEN_SSL_FLAGS = {% $LISTEN_SSL_FLAGS %}

__NV_NAME = {% $NAME %}
__NV_ALIASES = [% $ALIASES %]
__NV_HOME = [% $HOME %]
__NV_OWNER = [% $OWNER %]
__NV_OWNER_GROUP = [% $OWNER_GROUP %]
__NV_UID = [% $UID %]
__NV_GID = [% $GID %]
__NV_PRESET = [% $PRESET %]
__NV_IPADDRS = [% $IPADDRS %]
__NV_EMAIL = [% $EMAIL %]
__NV_CHARSET = [% $CHARSET %]
__NV_DIRINDEX = [% $DIRINDEX %]
__NV_SSL = [% $SSL %]
__NV_REDIRECT_HTTP = [% $REDIRECT_HTTP %]
__NV_SSL_PORT = [% $SSL_PORT %]
__NV_SSL_CRT = [% $SSL_CRT %]
__NV_SSL_KEY = [% $SSL_KEY %]
__NV_HSTS = [% $HSTS %]
__NV_SSL_SECURE_PROTOCOLS = [% $SSL_SECURE_PROTOCOLS %]
__NV_SSL_SECURE_CHIPHERS = [% $SSL_SECURE_CHIPHERS %]
__NV_SSL_DHPARAM = [% $SSL_DHPARAM %]
__NV_SSI = [% $SSI %]
__NV_FOREGROUND = [% $FOREGROUND %]
__NV_LOG_ACCESS = [% $LOG_ACCESS %]
__NV_ACCESS_LOG_PATH = [% $ACCESS_LOG_PATH %]
__NV_LOG_ERROR = [% $LOG_ERROR %]
__NV_ERROR_LOG_PATH = [% $ERROR_LOG_PATH %]
__NV_ROTATION_PERIOD = [% $ROTATION_PERIOD %]
__NV_ROTATION_COUNT = [% $ROTATION_COUNT %]
__NV_ANALYZER = [% $ANALYZER %]
__NV_ANALYZER_PERIOD = [% $ANALYZER_PERIOD %]
__NV_ANALYZER_LANG = [% $ANALYZER_LANG %]
__NV_ANALYZER_SECURE = [% $ANALYZER_SECURE %]
__NV_ANALYZER_PASSWD = [% $ANALYZER_PASSWD %]
__NV_AUTOSUBDOMAIN = [% $AUTOSUBDOMAIN %]
__NV_PHP = [% $PHP %]
__NV_PHP_MODE = [% $PHP_MODE %]
__NV_PHP_NATIVE_VERSION = [% $PHP_NATIVE_VERSION %]

__NV_APACHEITK = [% $APACHEITK %]
__NV_CGI = [% $CGI %]
__NV_CGI_EXT = [% $CGI_EXT %]
__NV_CGI_EXT_PATH = [% $CGI_EXT_PATH %]
__NV_SSL_BUNDLE = [% $SSL_BUNDLE %]

__NV_NO_TRAFF_COUNT = [% $NO_TRAFF_COUNT %]
__NV_AUTOSUBDOMAIN_SUBDOMAIN_PART = [% $AUTOSUBDOMAIN_SUBDOMAIN_PART %]
__NV_NGINX_VHOST_INCLUDES = [% $NGINX_VHOST_INCLUDES %]
__NV_INCLUDE_RESOURCE_PATH = [% $INCLUDE_RESOURCE_PATH %]
__NV_SRV_GZIP = [% $SRV_GZIP %]
__NV_GZIP_LEVEL = [% $GZIP_LEVEL %]
__NV_GZIP_TYPES = [% $GZIP_TYPES %]
__NV_SRV_CACHE = [% $SRV_CACHE %]
__NV_EXPIRES_VALUE = [% $EXPIRES_VALUE %]
__NV_WEBSTAT_LOCATION = [% $WEBSTAT_LOCATION %]
__NV_WEBSTAT_ENCODING = [% $WEBSTAT_ENCODING %]
__NV_REDIRECT_TO_APACHE = [% $REDIRECT_TO_APACHE %]
__NV_BACKEND_BIND_URI = [% $BACKEND_BIND_URI %]
__NV_REDIRECT_TO_PHPFPM = [% $REDIRECT_TO_PHPFPM %]
__NV_PHPFPM_USER_SOCKET_PATH = [% $PHPFPM_USER_SOCKET_PATH %]
__NV_DDOSSHIELD = [% $DDOSSHIELD %]
__NV_NGINX_LIMITREQUEST = [% $NGINX_LIMITREQUEST %]
__NV_NGINX_BURSTREQUEST = [% $NGINX_BURSTREQUEST %]
__NV_SSL_CRT_BUNDLE_PATH = [% $SSL_CRT_BUNDLE_PATH %]
__NV_SSL_KEY_PATH = [% $SSL_KEY_PATH %]
__NV_PAGESPEED = [% $PAGESPEED %]
__NV_NGINX_MODULE_PAGESPEED_PATH = [% $NGINX_MODULE_PAGESPEED_PATH %]
__NV_PHPCOMPOSER = [% $PHPCOMPOSER %]
__NV_NGINX_MODULE_PHPCOMPOSER_PATH = [% $NGINX_MODULE_PHPCOMPOSER_PATH %]

__NV_REDIRECT_WWW = [% $REDIRECT_WWW %]
__NV_VIRTUAL_DOCROOT = [% $VIRTUAL_DOCROOT %]
__NV_USER_RESOURCES = [% $USER_RESOURCES %]
__NV_USER_NGINX_RESOURCES_PATH = [% $USER_NGINX_RESOURCES_PATH %]
__NV_SEMANTIC_URL = [% $SEMANTIC_URL %]
__NV_NGINX_STATIC = [% $NGINX_STATIC %]
__NV_INCLUDE_DYNAMIC_RESOURCE_PATH = [% $INCLUDE_DYNAMIC_RESOURCE_PATH %]

}